@model IEnumerable<Wed_BisSchool.Models.Cource>
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <div class="">
                <p>
                    @Html.DisplayFor(modelItem => item.Lecturer.Name)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </p>
                <div class="action">
                        <a href="@Url.Action("Edit","Courses", new {id = item.Id})">Edit</a>|
                        <a href="#" class="js-cancel-course" data-course-id="@item.Id">Cancel</a>
                </div>
            </div>
        </li>
    }
</ul>
@section scripts {

    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm({
                    title: "Cancel Course?",
                    message: "Are you sure to cancel?",
                    button: {
                        cancel: {
                            label: '<i class="fa fa-times"><i>Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-checks"><i>Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/courses/" + link.attr("data-course-id"),
                                mothod: "DELETE"
                            }).done(function () {
                                link.parents("li").fadeOut(function ({
                                    $this.remove()
                            });
                        }).fail(function () {
                            alert("Something failed!");
                        });
                    }
                
            );        
        });

   
    </script>

}

