@model Wed_BisSchool.ViewModel.CourcesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (var item in Model.upcomingCource)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lecturer.Name)
                @if (Model.ShowAction)
                {
                    <button data-course-id="@item.LecturerId" class="btn btn-default btn-sm js-toggle-following">Follow</button>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @if (Model.ShowAction)
                {
                    <button data-course-id="@item.Id" class="btn btn-default btn-sm js-toggle-attendacence">Going?</button>
                }
            </td>
        </tr>
    }

</table>

@section scripts {

    <script>

        $(document).ready(function () {
            $(".js-toggle-attendacence").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendacences", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $(".js-toggle-following").click(function (e) {
                var button = $(e.target);
                $.post("/api/following", { followeeId: button.attr("data-course-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });


    </script>

}